* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #12100c;
  width: 100%;
}

a {
  text-decoration: none;
}

/*! NAV BAR */
.header {
  font-family: "satoshimedium";
  position: fixed;
  top: 50px;
  left: 10.42%;
  right: 10.42%;
  display: flex;
  align-items: center;
  z-index: 100;
  border-radius: 32px;
  background: rgba(42, 39, 34, 0.5);
  backdrop-filter: blur(5px);
  padding: 17px 5%;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  /* margin-left: 2.5rem; */
  color: rgba(255, 244, 235, 0.8);
}

#check {
  display: none;
}

.icons {
  right: 5%;
  position: absolute;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}
.ri-close-line {
  margin-right: 5px;
}
#menu-icon {
  display: flex;
}
.star-2-nav {
  display: none;
}

/*? SECTION 1 */
#section1 {
  margin-top: 136px;
}
#section1 .texte-page-section1 {
  margin-left: 24px;
  width: 327px;
}
#section1 .texte-page-section1 h1 {
  color: #fff4eb;
  padding: 0;
  overflow: hidden;
  font-family: "Angel rhapsody";
  font-weight: normal;
  font-size: 80px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.6px;
}

#section1 .texte-page-section1 h1 span {
  color: #db9f6a;
}

.btn-section1 h2 {
  color: #12100c;
  font-family: "satoshimedium";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.89px;
}

.btn-section1 {
  margin: 40px 0 0 24px;
  display: flex;
  align-items: center;
}

.btn-container-inf {
  position: relative;
  display: flex;
  align-items: center;
  width: 244px;
  text-align: center;
  margin: 0 6px;
}
.texte-btn-div {
  position: absolute;
  width: 100%;
}

.days-times {
  display: flex;
  align-items: center;
  margin: 40px 0 0 24px;
}
.days-times .class-icone-times i {
  font-size: 24px;
  border-radius: 8px;
  background: #db9f6a;
  padding: 14px;
}

.times-container {
  margin-left: 24px;
}

.times-container .mon-fri {
  margin-bottom: 12px;
}
.times-container .mon-fri,
.sat-sun {
  display: flex;
  align-items: center;
}
.times-container h2 {
  color: #db9f6a;
  font-family: "satoshimedium";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}
.times-container h3 {
  color: #fff;
  font-family: "satoshimedium";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  margin-left: 12px;
}

/*! SECTION 2 */

#section2 {
  margin-top: 80px !important;
  background: rgba(42, 39, 34, 0.5);
  backdrop-filter: blur(5px);
  padding: 48px 12%;
}
#section2 ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#section2 ul li {
  color: #fff;
  font-family: "satoshimedium";
  font-size: 30px;
  display: flex;
  align-items: center;
}

#section2 ul li img {
  margin-right: 12px;
}

.item-liste6 {
  display: none !important;
}

/*! SECTION 4 */

#section4 h1 {
  color: #fff4eb;
  font-family: "Angel rhapsody";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  max-width: 263px;
  margin-bottom: 27px;
}

#section4 .cadre-container {
  border-radius: 32px;
  background-color: #1e1c17;
  padding: 32px 32px 0 32px;
  margin: 80px 24px 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 485px;
  background-image: url(/ressources/images/particl-effect/Vector.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 60% cover;
}

#section4 img {
  max-width: 243px;
  min-width: 10%;
}
/*! SECTION 5 */
#section5 h1,
#section7 h1 {
  font-family: "Angel rhapsody";
  color: #12100c;
  text-align: right;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.44px;
}

#section5 .cadre-container,
#section7 .cadre-container {
  border-radius: 32px;
  background: #fff4eb;
  padding: 32px 32px 0 32px;
  margin: 32px 24px 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  max-width: 485px;
  min-height: 353px;
}
#section5 .cadre-container .container-img,
#section7 .cadre-container .container-img {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section5 img {
  max-width: 243px;
  min-width: 10%;
}

#section7 img {
  max-width: 243px;
  min-width: 9%;
  max-height: 280px;
}

/*! SECTION 6 */

#section6 h1 {
  color: #fff4eb;
  font-family: "Angel rhapsody";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  max-width: 381px;
}

#section6 .cadre-container {
  border-radius: 32px;
  background: #1e1c17;

  margin: 32px 24px 0 24px;
  display: flex;
  flex-direction: column;
  max-width: 485px;
  min-height: 566px;
}
#section6 .cadre-container .container-img {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section6 img {
  width: 100%;
}
#section6 p {
  color: rgba(255, 255, 255, 0.4);
  font-family: "satoshimedium";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  letter-spacing: -0.28px;
  min-width: 263px;
  margin-top: 16px;
}

#section6 a {
  color: #483524;
  font-family: "satoshimedium";
  font-size: 14px;
  border-radius: 12px;
  background-color: #db9f6a;
  padding: 20px 32px;
  align-items: center;
  margin-top: 24px;
}

#section6 .button-container {
  margin-top: 44px;
}

.texte-div {
  padding: 32px 32px 52px 32px;
}

/*! SECTION 8 */

#section8 {
  margin: 60px 0px 80px 0px;
}
#section8 h1 {
  font-family: "Angel rhapsody";
  color: #fff4eb;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.28px;
}
.accordion {
  max-width: 530px;
  width: 100%;
  padding: 24px;
  border-radius: 8px;
  font-family: "satoshibold";
}
.accordion .accordion-content {
  margin: 10px 0;
  border-radius: 4px;

  overflow: hidden;
}

.accordion-content.open {
  padding-bottom: 10px;
}
.accordion-content header {
  display: flex;
  min-height: 50px;
  padding: 0 15px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s linear;
}
.accordion-content.open header {
  min-height: 35px;
}
.accordion-content header .title {
  font-size: 14px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  font-family: "satoshibold";
}
.accordion-content header i {
  font-size: 15px;
  color: #fff;
}
.accordion-content .description {
  height: 0;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  line-height: 150%;
  letter-spacing: -0.4px;
  padding: 0 24px;
  transition: all 0.2s linear;
  font-family: "satoshimedium";
}

.accordion-content .description li {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.4px;
}
.accordion-content .description li span {
  font-family: "satoshibold";
}
#section8 hr {
  border: none;
  background: rgba(255, 255, 255, 0.2);
  height: 2px;
}

/*! SECTION 9 */

#section9 .section9-container {
  position: relative;
}
#section9 .assets {
  display: flex;
  align-items: center;
}

#section9 .assets picture {
  margin: 0 8.5px;
}

#section9 .info-container {
  position: absolute;
  top: 38px;
  display: flex;
  left: 120px;
}

#section9 .info-container .txt-sub h1 {
  color: #12100c;
  font-family: "Angel rhapsody";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.28px;
  margin-bottom: 32px;
}

#section9 .info-container .txt-sub {
  width: 335px;
}
#section9 .info-container .sub-section {
  margin-left: 69px;
  margin-top: 32px;
}

#section9 .info-container .input-sub #email {
  display: flex;
  width: 345px;
  padding: 20px 32px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: #f2e4da;
  border: none;
}

#section9 .info-container .input-sub #email::placeholder {
  color: #483524;
  font-family: "satoshimedium";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#section9 .section9-container form input:nth-child(2) {
  display: inline-flex;
  padding: 20px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: #db9f6a;
  border: none;
  color: #483524;
  font-family: "satoshibold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.89px;
  margin-left: -50px;
}

#section9 .section9-container-petit {
  display: flex;
  align-items: center;
}

#section9 .section9-container-petit {
  background-color: #fff4eb;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#section9 .txt-small h1 {
  color: #12100c;
  font-family: "Angel rhapsody";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

#section9 .txt-small {
  width: 327px;
  margin-bottom: 32px;
}

#section9 .input-small form input:nth-child(1) {
  display: flex;
  width: 100%;
  padding: 20px 32px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: #f2e4da;
  border: none;
  color: #483524;
  font-family: "satoshimedium";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 12px;
}

#section9 .input-small form input:nth-child(2) {
  display: flex;
  width: 100%;
  padding: 20px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: #db9f6a;
  border: none;
  color: #483524;
  font-family: "satoshibold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.89px;
  margin-bottom: 40px;
}

#section9 .section9-container-petit .lettre-img-small {
  margin: 40px 0px;
}

#section9 .section9-container-petit {
  display: flex;
  padding: 0px 24px;
}

/*! FOOTER  */
footer {
  background: #1e1c17;
  text-transform: uppercase;
  padding: 32px 24px 40px 24px;
}

footer .container-central {
  display: flex;
  flex-direction: column;
}

footer .container-star{
  margin-bottom: 40px ;
}

footer .page-item-container {
  color: rgba(255, 244, 235, 0.8);
  font-family: "satoshibold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.44px;
}

footer .page-item-container .footer-item {
  border-left: solid 3px #db9f6a;
}

footer li {
  list-style: none;
}

footer .footer-item:nth-child(1) {
  margin-bottom: 40px;
}
footer .footer-item ul li:nth-child(-n + 2) {
  margin-bottom: 34px;
}

footer .footer-item ul {
  padding-left: 52px;
}

footer .footer-icone-container img {
  margin-right: 32px;
}

footer .footer-icone-container  {
  margin: 40px 0px 32px 0px;
}

footer hr {
  border: none;
  height: 1px;
  background: rgba(219, 159, 106, 0.2);
}

footer .legal .term-legal h2 {
  color: rgba(255, 244, 235, 0.8);
  font-family: "satoshibold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.44px;
}

footer .legal .term-legal h2:nth-child(1) {
  margin-bottom: 32px;
}

footer .legal .term-legal {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

footer .legal .copyriht {
  margin-top: 40px;
}

footer .legal .copyriht h3 {
  color: rgba(255, 244, 235, 0.4);
  text-align: right;
  font-family: "satoshibold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.44px;
}
/* BREAKPOINT */

/*! NAV BAR */
@media (max-width: 1285px) {
  #section2 ul li {
    font-size: 25px;
  }

  #section2 ul li img {
    width: 20px;
  }

  .header {
    padding: 12px 2%;
  }

  .navbar a {
    font-size: 15px;
  }
}

@media (max-width: 1150px) {
  #section9 .info-container {
    position: absolute;
    top: 38px;
    display: flex;
    left: 120px;
  }

  #section9 .info-container .input-sub #email {
    width: 300px;
    padding: 20px;
    gap: 10px;
  }

  #section9 .section9-container form input:nth-child(2) {
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
    background: #db9f6a;
    font-family: "satoshibold";
    font-size: 15px;
    margin-left: -50px;
  }

  .lettre-icone img {
    width: 90%;
  }

  #section9 .info-container .txt-sub h1 {
    color: #12100c;
    font-family: "Angel rhapsody";
    font-size: 64px;
    margin-bottom: 32px;
  }

  #section9 .info-container .sub-section {
    margin-left: 40px;
    margin-top: 20px;
  }
}

@media (max-width: 992px) {
  .header {
    left: 5%;
    right: 5%;
  }

  #section2 {
    padding: 15px 8%;
  }

  #section2 ul li {
    font-size: 25px;
  }

  #section2 ul li img {
    width: 20px;
  }
}

@media (max-width: 950px) {
  #section9 .info-container {
    position: absolute;
    top: 50px;
    display: flex;
    left: 80px;
  }

  #section9 .info-container .input-sub #email {
    width: 280px;
    padding: 18px;
    gap: 10px;
  }

  #section9 .info-container .input-sub #email::placeholder {
    font-size: 15px;
  }

  #section9 .section9-container form input:nth-child(2) {
    padding: 18px;
    justify-content: center;
    align-items: center;
    background: #db9f6a;
    font-family: "satoshibold";
    font-size: 15px;
    margin-left: -50px;
  }

  .lettre-icone img {
    width: 90%;
  }

  #section9 .info-container .txt-sub h1 {
    color: #12100c;
    font-family: "Angel rhapsody";
    font-size: 50px;
    margin-bottom: 20px;
  }

  #section9 .info-container .sub-section {
    margin-left: 20px;
    margin-top: 20px;
  }
}

@media (min-width: 861px) {
  #section9 .section9-container-petit {
    display: none;
  }
}

@media (max-width: 860px) {
  .section9-container {
    display: none;
  }
}
@media (max-width: 768px) {
  .star-1-nav {
    display: none;
  }
  .star-2-nav {
    display: block;
  }
  .header {
    top: 24px;
    left: 6.4%;
    right: 6.4%;
    padding: 16px 24px;
  }

  .icons {
    display: flex;
    align-items: center;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    border-radius: 32px;
    background: rgba(42, 39, 34, 0.986);
    backdrop-filter: blur(5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  #check:checked ~ .navbar {
    height: 25rem;
  }

  .navbar a {
    display: block;
    font-family: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    transition: 0.3s ease;
    opacity: 0;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0px);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }

  #section2 {
    display: flex;
    justify-content: center;
    margin: 8% 0;
  }
  #section2 ul {
    columns: 2;
    display: block;
    line-height: 44px;
  }

  .item-liste6 {
    display: block !important;
  }

  #section2 ul li {
    font-size: 19px;
  }
}

@media (max-width: 390px) {
  #section9 .section9-container-petit .lettre-img-small img{
    width: 230px;
  }
  #section9 .txt-small{
    width: 200px;
  }
  #section9 .txt-small h1{
    font-size: 35px;
  }
  #section9 .input-small form input:nth-child(1){
    padding: 18px 20px;
    font-size: 15px;
  }
  #section6 p{
    min-width: 0px;
  }
}

@media (max-width: 358px) {
  #section1 .texte-page-section1{
    width: 255px;
  }
  #section1 .texte-page-section1 h1 {
    font-size: 70px;
  }
  .btn-section1{
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }
  .days-times{
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }
}
/*? PART ONE */
